# Dependencies
node_modules/
*.lock
yarn.lock
package-lock.json

# Production
build/
dist/
out/

# Misc
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Electron
release/
*.exe
*.dmg
*.AppImage
